@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

      *{
            margin: 0;
            padding: 0;
            border: 0;
        }
        body{
            background-color: rgb(121, 9, 9);

        }
        header{
            padding: 32px;
            border-bottom: 1px wheat;
            background-color:rgb(233, 43, 43);
        
    }
        .links {
            text-align: center;
        }
        .links a{
            color: rgb(2, 2, 53);
            font-size: 20px;
            line-height: 30px;
            margin: 0 16px;
            text-decoration: none;
        }
        .links a :hover{
        color:var(--subcor);
        transition: 600ms;
        font-size: 23px;
        }
        header div a{
            color: blanchedalmond;/* a cor do texto*/
            font-size: 20px;/*tamanho da fonte*/
            line-height: 30px; /*espaçamento entre linhas do textos*/
            margin: 0 16px;/*espaçamento entre os textos*/
            text-decoration: none;/*retirar decoração do texto*/   
            font-family:"Lora", sans-serif ;/*a fonte escolhida pro menu*/            
        }
header div a:hover { /*seleção do modo quando o mause passar por cima "hover"*/
    color: rgb(71, 3, 71);/* para mudar para cor rgb(110, 107, 107)*/
    transition: color 700ms;/* e fazer uma transição de cor que dura 700ms*/
    
}
#box {
    text-align: center;
    padding: 10px;
}
#box img{
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 32px;
}
#box h1{ 
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
}
#box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}
#box p{
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}
:root{  
    --subcor: blue 

}